# Compiler files
cache/
out/**/
!out/sUSDe_Burner.sol/
!out/sUSDe_Minburner.sol/
!out/ETHx_Burner.sol/
!out/mETH_Burner.sol/
!out/rETH_Burner.sol/
!out/sfrxETH_Burner.sol/
!out/swETH_Burner.sol/
!out/wstETH_Burner.sol/
!out/BurnerRouterFactory.sol/
!out/BurnerRouter.sol/


# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Other files
.gas-snapshot
lcov.info
